JWT_SECRET=
AUTO_MIGRATE=false
DB_TARGET=test

# Railway scoped MySQL variables
MYSQL_PROD_DATABASE=
MYSQL_PROD_PORT=
MYSQL_PROD_USER=
MYSQL_PROD_PASSWORD=
MYSQL_PROD_HOST=
MYSQL_PROD_URL=

MYSQL_TEST_DATABASE=railway
MYSQL_TEST_PORT=
MYSQL_TEST_USER=root
MYSQL_TEST_PASSWORD=
MYSQL_TEST_HOST=
MYSQL_TEST_URL=

MYSQL_SSL=false
